@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideUpAndFade {
  animation: slideUpAndFade 20ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideRightAndFade {
  animation: slideRightAndFade 20ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideDownAndFade {
  animation: slideDownAndFade 20ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-slideLeftAndFade {
  animation: slideLeftAndFade 20ms cubic-bezier(0.16, 1, 0.3, 1);
}
